#header {
  color: azure;

  font-size: x-large;
}
.navbar {
  background-color: #373a3a;
}
.nav-link {
  color: #daccba;
}
body {
  background-color: #2c2e2e;
  font-family: monospace;
  background-image: url("pexels-efrem-efre-17644160.jpg");
}
.hero {
  text-align: center;
  color: #373a3a;
  font-size: 100px;
  font-weight: bold;
}
.work {
  text-align: center;
  margin-top: 20%;
}
.card {
  width: 50%;
  background-color: #2c2e2e;
}
.services {
  text-align: center;
  margin-top: 35%;
  margin-bottom: 15%;
}
.card-text {
  color: #daccba;
}
